/* 애니메이션 브라우저에 맞게 사용될수있게 적용
transform도 브라우저에 맞게 적용 */
@charset "UTF-8";
body{
   /* font-family: 'Noto Sans', sans-serif; */
   font-family: 'Nanum Gothic', sans-serif;
   /* font-family: 'Nanum Myeongjo', serif; */
   color: #262626;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
   color: black;
}
div{
   box-sizing: border-box;
}

/*로딩 스타일1*/
#loading-bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
}
#loading-bg .loading{
    width: 100px;
    height: 100px;
    position: fixed;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-bg .loading .circle{
    height: 100%;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50%;
    border: 15px solid #FFB725;
    animation: loading 2s infinite linear;
}
#loading-bg .loading .circle .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
}
#loading-bg .loading > span
{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
    color: #2d2d2d;
}

@keyframes loading {
    0%{transform: rotate(0deg);border-color:#FFB725;}
    50%{border-color:#ffdd98;}
    100%{transform: rotate(360deg); border-color: #FFB725;}
}


/****** nav ******/
#main_nav{
   z-index: 2;
   width: 100%;
   height: 60px;
   background-color: #2d2d2d;
   position: fixed;
   box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

#main_nav .logo>a>img{
   width:110px;
   margin: 13px 0 0 10px;
}
.hide_navList{
   color:rgba(0,0,0,0);
}
#main_nav>nav>ul{
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%);
}
#main_nav>nav>ul>li{
   background: url(../images/mainNav.png) no-repeat 0 4px;
   position: absolute;
   top: 2px;
   left: 50%;
   transform: translateX(-50%);
   width: 119px;
   height: 55px;
}
#all_menu_button{
   position: absolute;
    top: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    z-index: 99;
}
#all_menu_button>input{
   display: none;
}
#all_menu_button>.menu{
   display: inline-block;
   vertical-align: middle;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#all_menu_button>.menu span{
   display: inline-block;
   width: 45px;
   height: 4px;
   background-color: #fff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   transform-origin: 0px 2px;
   transition: all .4s;
}
#all_menu_button>#menu:checked + label>span:nth-child(1){transform: rotate( 45deg);}
#all_menu_button>#menu:checked + label>span:nth-child(2){opacity: 0}
#all_menu_button>#menu:checked + label>span:nth-child(3){transform: rotate( -45deg);}
#all_menu_list{
   display: none;
   width: 100%;
   background-color: rgba(45, 45, 45, 0.99);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 98;
}
#all_menu_list>ul{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 235px;
}
#all_menu_list>ul>li{
   width:auto;
   font-size: 50px;
   line-height: 110px;
   text-align: center;
   margin: 0 auto;
}
#all_menu_list>ul>li>a{
   color: #fff;
   text-decoration: none;
}
#all_menu_list>ul>li>a:after{
   content: "";
   position: absolute;
   width: 100%;
   height: 5px;
   left: 20px;
   background: rgba(248, 249, 250, 0.81);
   visibility: visible;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   transform: scaleX(1);
   transition: .25s linear;
}
#all_menu_list>ul>li>a:after{
   left:0;
}
#all_menu_list>ul>li:first-child>a:after{
   top: 61px;
}
#all_menu_list>ul>li:nth-child(2)>a:after{
   top: 171px;
}
#all_menu_list>ul>li:nth-child(3)>a:after{
   bottom: 155px;
}
#all_menu_list>ul>li:nth-child(4)>a:after{
   bottom: 44px;
}
#all_menu_list>ul>li>a:hover:after{
   visibility: hidden;
   transform: scaleX(0);
}
/* paging */
#nav{
   position: fixed;
   bottom: 31%;
   right: 3%;
   width: 10px;
   z-index: 2;
}
#nav a{
   display: inline-block;
   width: 12px;
   height: 12px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   border: 1px solid #2d2d2d;
   margin-bottom: 30px;
   text-indent: -9999px;
   background-color: #2d2d2d;
   transition: 0.3s;
}

#nav a:hover{
   background-color:#FFB725;
   border: 1px solid #FFB725;
}
#nav a.active{
   background-color: rgb(0, 0, 0);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   border: 2px solid rgb(0, 0, 0);
   height: 0;
   width:10px;
}



/****** firstpage ******/
#firtstPage{
   width: 100%;
   background: url(../images/rain.jpg) no-repeat;
   background-size: cover;
}

/* text animation */
.svgBox{
   width: 740px;
   position: absolute;
   top: 44%;
   left: 50%;
   transform: translate(-50%, -50%);
}
path{
   fill:rgba(255,255,255,0);
}
/* CSS SVG Animation start*/
/* path{
   stroke: #fff;
   fill: #fff;
   stroke-dasharray: 510;
   opacity: 10;
   animation: animate 6s cubic-bezier(0,0.23,1,.1) alternate infinite;
} */

/* standard syntax */
/* @keyframes animate {
   0%{opacity: 0;
      fill: none;
      stroke-dashoffset: 510;}
   20%{opacity: 5;
      fill: none;
      stroke-dashoffset: 510;}
   35%{fill: rgba(255,255,255,0);}
   40%{opacity: 10;
      fill: rgba(255,255,255,10);
      stroke-dashoffset: 0;}
   100%{opacity: 10;
      fill: rgba(255,255,255,10);
      stroke-dashoffset: 0;}
} */
/* CSS SVG Animation end*/

/* scrollDownIcon */
.scrollDownIcon{
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
   -webkit-animation: scrollDownIcon_ani 1s 3s linear infinite;
   -moz-animation: scrollDownIcon_ani 1s 3s linear infinite;
   -o-animation: scrollDownIcon_ani 1s 3s linear infinite;
   animation: scrollDownIcon_ani 1s 3s linear infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes scrollDownIcon_ani{
   0%{}
   30%{bottom: 5.5%;}
   80%{bottom:4.5%;}
}
/* firefox */
@-moz-keyframes scrollDownIcon_ani{
   0%{}
   30%{bottom: 5.5%;}
   80%{bottom:4.5%;}
}
/* opera */
@-o-keyframes scrollDownIcon_ani{
   0%{}
   30%{bottom: 5.5%;}
   80%{bottom:4.5%;}
}
/* standard syntax */
@keyframes scrollDownIcon_ani {
   0%{}
   30%{bottom: 5.5%;}
   80%{bottom:4.5%;}
}
.scrollDownIcon>img{
   width: 40px;
   height: 40px;
   -webkit-animation: opacityIcon 30s;
   -moz-animation: opacityIcon 30s;
   -o-animation: opacityIcon 30s;
   animation: opacityIcon 30s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opacityIcon {
   0%{opacity: 0;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}
}
/* firefox */
@-moz-keyframes opacityIcon {
   0%{opacity: 0;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}
}
/* opera */
@-o-keyframes opacityIcon {
   0%{opacity: 0;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}
}
/* standard syntax */
@keyframes opacityIcon {
   0%{opacity: 0;}
   50%{opacity: 0.5;}
   100%{opacity: 1;}
}
/****** common *******/
#profilePage,
#worksPage,
#contactPage{
   padding-top: 90px;
   width: 100%;
   overflow: hidden;
}

/****** profilePage ******/
#profilePage{
   font-family: 'Noto Sans', sans-serif;
}
#profilePage .wrap_for_profilePage{
   width: 1200px;
   /* width: 80%; */
   margin: 0 auto;
   overflow: hidden;
   opacity: 0;
}
#profilePage .wrap_for_profilePage>p{
   text-align: center;
}
#profilePage .wrap_for_profilePage>p:first-child{
   margin-top: 40px;
   font-size: 32px;
   font-weight: bold;
}
.wrap_for_profilePage>p:nth-child(2){
   font-size: 14px;
   margin-top: 7px;
}
.wrap_for_profilePage>p:nth-child(4){
   line-height: 0px;
   margin-bottom: 14px;
   color: #cccccc;
}
#profilePage .wrap_for_profilePage hr{
   border-width: 2px;
   border-style: solid;
   border-color: #FFB725;
}
#profilePage .wrap_for_profilePage h2{
   font-size: 22px;
   font-weight: bold;
}
#profilePage .wrap_for_profilePage .aboutBox,
#profilePage .wrap_for_profilePage .skillsBox{
   width: 49%;
   line-height: 31px;
}

#profilePage .wrap_for_profilePage .aboutBox{
   float: left;
   text-align: right;
   margin-left: -300px;
   opacity: 0;
}
#profilePage .wrap_for_profilePage .skillsBox{
   float: right;
   margin-right: -300px;
   opacity: 0;
}
#profilePage .wrap_for_profilePage .aboutBox span{
   font-weight: bold;
   font-size: 14px;
}
#profilePage .wrap_for_profilePage .aboutBox p{
   line-height: 9px;
   margin-bottom: 20px;
}
#profilePage .wrap_for_profilePage .skillsBox dl dt{
   font-weight: bold;
}
#profilePage .wrap_for_profilePage .skillsBox dl:nth-child(n+5) dt{
   margin-top: 11px
}
#profilePage .wrap_for_profilePage .skillsBox dl dd{
   line-height: 25px;
}


/****** worksPage ******/
#worksPage:before{
   content: "";
   display: block;
   clear: both;
}
#worksPage{
}
#worksPage .wrap_for_works{
   width:1200px;
   /* width: 80%; */
   margin: 0 auto;
}
#worksPage .wrap_for_works>div{
   position:relative;
   display: inline-block;
   border-collapse: collapse;
   -webkit-box-shadow: 2px 2px 5px 0px #00000042;
   -moz-box-shadow: 2px 2px 5px 0px #00000042;
   box-shadow: 2px 2px 5px 0px #00000042;
   margin: 20px;
}
/* <!--[if IE]>
#worksPage .wrap_for_works>div{
   border: 1px solid #00000001;
}
<![endif]--> */
/* work page overlay */
#worksPage .wrap_for_works>div>.overlay{
   padding: 10px;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: rgba(255, 183, 37, 0.92);
   color: #fff;
   display: none;
   transition: 0.5s;
   text-align: center;
}
#worksPage .wrap_for_works>div:hover .overlay{
   display: block;
}
#worksPage .wrap_for_works>div:hover .overlay hr{
   border: 0;
   height: 0;
   border-top: 2px solid #fff;
}
#worksPage .wrap_for_works>div>.overlay .button{
   width:70px;
   height: 25px;
   background-color: rgba(255, 255, 255, 0.8);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin: 0 auto;
   text-align: center;
   vertical-align: middle;
   line-height: 22px;
}
#worksPage .wrap_for_works>div>.overlay .button a{
   color: #2d2d2dbf;
   font-weight: bold;

}
/*overlay 제목 */
#worksPage .wrap_for_works>div>.overlay p:nth-child(1){
   font-size: 20px;
   font-weight: bold;
}
/* overlay 날짜 */
#worksPage .wrap_for_works>div>.overlay p:nth-child(2){
   font-size: 13px;
   margin-top: 3px;
}
/* overlay 설명 */
#worksPage .wrap_for_works>div>.overlay p:nth-child(4){
   font-size: 15px;
   line-height: 23px;
}
/* overlay 작업페이지 */
#worksPage .wrap_for_works>div>.overlay p:nth-child(6){
   font-size: 14px;
   line-height: 17px;
}

#worksPage .wrap_for_works>div>img{
   width: 350px;
   height: 172px;
}

#worksPage .wrap_for_works .work_one>div:nth-child(2)>img{
   width: 250px;
   height: 24px;
   margin: 5px 50px;
}
#worksPage .wrap_for_works .work_two>div:nth-child(2)>img{
   width: 114px;
   height: 24px;
   margin: 5px 118px 5px;
}
#worksPage .wrap_for_works .work_three>div:nth-child(2)>img{
   width: 103px;
   height: 24px;
   margin: 5px 123px;
}
#worksPage .wrap_for_works .work_four>div:nth-child(2)>img{
   width: 135px;
   height: 24px;
   margin: 5px 0px 5px 133px;
}

#worksPage .wrap_for_works>div>div:last-child>p:first-child{
   text-align: center;
   font-size: 15px;
   line-height: 25px;
   font-weight: 600;
}
#worksPage .wrap_for_works>div>div:last-child>p:last-child{
   text-align: center;
   font-size: 14px;
   padding: 5px 0 13px;
   font-weight: 700;
}

/****** contactPage ******/
#contactPage{
   position: relative;
   overflow: hidden;
   /* z-index: -1; */
}
video{
   position: absolute;
   top:0;
   left:0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   overflow: hidden;
}
#contactPage .contact_box{

}
#contactPage .mobile{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%);
}
#contactPage .mobile p{
   width: 515px;
   font-size: 45px;
   font-weight: bold;
   color: #fff;
   height: 63px;
   display: none;
}
#contactPage .mobile:hover p{
   display: block
}
#contactPage .mobile:hover img{
   display: none;
}
#contactPage .mail{
   position: absolute;
   top: 42%;
   left: 50%;
   transform: translate(-50%);
}
#contactPage .mail p{
   width: 680px;
   font-size: 45px;
   font-weight: bold;
   color: #fff;
   height: 63px;
   display: none;
}
#contactPage .mail:hover p{
   display: block
}
#contactPage .mail:hover img{
   display: none;
}

#contactPage .thks{
   position: absolute;
   top: 83%;
   left: 50%;
   transform: translate(-50%);
}

.memo{
   display: none;
}
